/* NavBar CSS */
.nav-home-adjust {
  position: absolute;
  top: 4vw;
  left: 8%;
}

.nav-about-adjust {
  position: absolute;
  top: 5vw;
  right: 32.6%;
}

.nav-projects-adjust {
  position: absolute;
  top: 5vw;
  right: 21%;
}
.nav-leadership-adjust {
  position: absolute;
  top: 5vw;
  right: 8%;
}
