/* NavBar CSS */
.nav-home-adjust {
  position: absolute;
  top: 5%;
  left: 8%;
}

.nav-about-adjust {
  position: fixed;
  top: 7%;
  right: 32.6%;
}

.nav-projects-adjust {
  position: fixed;
  top: 7%;
  right: 21%;
}
.nav-leadership-adjust {
  position: fixed;
  top: 7%;
  right: 8%;
}
