/* Experience CSS */
.exp-box {
    width: 73.63vw;
    height: 21.6vw;
    filter: drop-shadow(0.375vw 0.375vw 3.125vw rgba(0, 0, 0, 0.1));
    border: 0.05vw solid #222222;
    box-sizing: border-box;
    border-radius: 2.125vw;
  }
  
  .exp-text-box {
    width: 46.06vw;
  }
  
  .exp-title-adjust {
    position: absolute;
    top: 1.125vw;
    left: 2.375vw;
  }
  
  .exp-date-adjust {
    position: absolute;
    top: 5.438vw;
    left: 2.5vw;
  }
  .exp-text-adjust {
    position: absolute;
    top: 9.813vw;
    left: 2.5vw;
  }
  .exp-img-adjust {
    position: absolute;
    left: 51vw;
  }
  
  /* Project CSS */
  .proj-rcreator-adjust {
    position: absolute;
    top: 22.81vw;
  }
  
  .proj-bottom-padding {
    padding-bottom: 10.38vw;
  }
  
  .visible {
    overflow: visible;
  }
  